<h3 style ="text-decoration: underline"><center>Brief project: Pouvoir d'achat et employabilité</h3>

### 1- Introduction aux datasets et lecture des données

In [4]:
import pandas as pd 

# On lit les fichiers grâce à la méthode .read_csv() de pandas
all_ages = pd.read_csv("all-ages.csv")
recent_grads = pd.read_csv('recent-grads.csv')

# On affiche les 5 premières lignes grâce à la méthode head() qui prend en entrée le nombre de lignes à afficher
all_ages.head(5)

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0
3,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,103549,81177,64937,3619,0.042679,46000,30000,72000.0
4,1104,FOOD SCIENCE,Agriculture & Natural Resources,24280,17281,12722,894,0.049188,62000,38500,90000.0

In [5]:
recent_grads.head(5)

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

### 2- Retourner les valeurs uniques de Major_category.

In [8]:
# Utilisation de la méthode .unique()
unique_majorCat_ages = all_ages['Major_category'].unique()
unique_majorCat_grads = recent_grads['Major_category'].unique()

print("--- Valeurs uniques de Major_category pour all_ages ---")
print()
print(unique_majorCat_ages)
print()
print("--- Valeurs uniques de Major_category pour recent_grads ---")
print()
print(unique_majorCat_grads)

--- Valeurs uniques de Major_category pour all_ages ---

['Agriculture & Natural Resources' 'Biology & Life Science' 'Engineering'
 'Humanities & Liberal Arts' 'Communications & Journalism'
 'Computers & Mathematics' 'Industrial Arts & Consumer Services'
 'Education' 'Law & Public Policy' 'Interdisciplinary' 'Health'
 'Social Science' 'Physical Sciences' 'Physical Sciences '
 'Psychology & Social Work' 'Industrial Arts & Consumer Services ' 'Arts'
 'Business']

--- Valeurs uniques de Major_category pour recent_grads ---

['Engineering' 'Business' 'Physical Sciences' 'Law & Public Policy'
 'Computers & Mathematics' 'Agriculture & Natural Resources'
 'Industrial Arts & Consumer Services' 'Arts' 'Health' 'Social Science'
 'Physical Sciences ' 'Biology & Life Science' 'Education'
 'Humanities & Liberal Arts' 'Psychology & Social Work'
 'Industrial Arts & Consumer Services ' 'Communications & Journalism'
 'Interdisciplinary']

### 3- Créer un dictionnaire qui associera chaque Major_category à son nombre total d'étudiants.

#### 3.1 Pour le dataset all_ages

In [10]:
# Création d'un dictionnaire vide qui contiendra les association Major_category: nombre d'étudiants
majorCat_nbStud_ages = {}

# Création d'une boucle for qui parcourera chacun des major_category unique 
# précédemment défini dans unique_majorCat_ages
for major in unique_majorCat_ages: 
    
    # Création d'un masque qui sélectionne uniquement les valeurs de all_ages où la colonne "Major_category"
    # sera égale à sa valeur unique soit major
    masque_majorCat_ages = all_ages["Major_category"] == major
    
    # On applique ce masque sur l'ensemble du dataframe all_ages pour sélectionner les valeurs adéquates à major
    rows_majorCat_ages = all_ages[masque_majorCat_ages]
    
    # On utilise la méthode.sum() sur la colonne Total du sous-ensemble correspondant à la major précédemment défini
    total_students_majorCat = rows_majorCat_ages["Total"].sum()
    
    # On associe à chaque clé major sa valeur de nombre d'étudiant précédemment calculé. 
    majorCat_nbStud_ages[major] = total_students_majorCat

print(majorCat_nbStud_ages)

{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1018072, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1013152, 'Physical Sciences ': 12166, 'Psychology & Social Work': 1987278, 'Industrial Arts & Consumer Services ': 15726, 'Arts': 1805865, 'Business': 9858741}

#### 3.2 Pour le dataset recent_grads

In [13]:
# On réalise les mêmes étapes que pour le dataset all_ages
majorCat_nbStud_grads = {}

for major_grads in unique_majorCat_grads: 
    masque_majorCat_grads = recent_grads["Major_category"] == major_grads
    rows_majorCat_grads = recent_grads[masque_majorCat_grads]
    total_students_majorCat_grads = rows_majorCat_grads["Total"].sum()
    majorCat_nbStud_grads[major_grads] = total_students_majorCat_grads

print(majorCat_nbStud_grads)

{'Engineering': 537583, 'Business': 1302376, 'Physical Sciences': 183363, 'Law & Public Policy': 179107, 'Computers & Mathematics': 299008, 'Agriculture & Natural Resources': 79981, 'Industrial Arts & Consumer Services': 227357, 'Arts': 357130, 'Health': 463230, 'Social Science': 529966, 'Physical Sciences ': 2116, 'Biology & Life Science': 453862, 'Education': 559129, 'Humanities & Liberal Arts': 713468, 'Psychology & Social Work': 481007, 'Industrial Arts & Consumer Services ': 2435, 'Communications & Journalism': 392601, 'Interdisciplinary': 12296}

### 4-Créer une fonction qui aura pour paramètre d'entrée un dataframe et retournera un dictionnaire associant chaque Major_category à son nombre d'étudiants.

In [42]:
def nb_students(dataframe): 
    
    # On cherche d'abord les major_category unique du dataframe d'entrée
    unique_majorCat = dataframe['Major_category'].unique()
    
    # On initialise un dictionnaire vide qui contiendra les associations major_category: nombre d'étudiants 
    # pour le dataframe d'entrée
    dict_majorCat = {}
    
    # On crée une boucle qui parcourera les major_category unique trouvé précédemment
    for major in unique_majorCat:
        
        # On crée un masque permettant de sélectionner les valeurs du dataframe 
        # correspondant uniquement à l'unique major_category
        masque_majorCat = dataframe["Major_category"] == major
        
        # On applique le masque au dataframe d'entrée pour sélectionner les valeurs correspondantes dans le dataframe
        rows_majorCat = dataframe[masque_majorCat]
        
        # On fait la somme du nombres d'étudiants présent dans la colonne "Total" du sous-ensemble précédemment défini
        total_students_majorCat = rows_majorCat["Total"].sum()
        
        # On associe la clé unique major_category à son nombre d'étudiants total
        dict_majorCat[major] = total_students_majorCat

    return dict_majorCat

In [43]:
# On assigne le résultat de la fonction assigné à chacun des deux dataset dans deux variables différentes
aa_cat_count = nb_students(all_ages)
rg_cat_count = nb_students(recent_grads)

print("---- Pour le dataframe all_ages ----")
print()
print(aa_cat_count)
print()
print("---- Pour le dataframe recent_grads ----")
print()
print(rg_cat_count)

---- Pour le dataframe all_ages ----

{'Agriculture & Natural Resources': 632437, 'Biology & Life Science': 1338186, 'Engineering': 3576013, 'Humanities & Liberal Arts': 3738335, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Industrial Arts & Consumer Services': 1018072, 'Education': 4700118, 'Law & Public Policy': 902926, 'Interdisciplinary': 45199, 'Health': 2950859, 'Social Science': 2654125, 'Physical Sciences': 1013152, 'Physical Sciences ': 12166, 'Psychology & Social Work': 1987278, 'Industrial Arts & Consumer Services ': 15726, 'Arts': 1805865, 'Business': 9858741}

---- Pour le dataframe recent_grads ----

{'Engineering': 537583, 'Business': 1302376, 'Physical Sciences': 183363, 'Law & Public Policy': 179107, 'Computers & Mathematics': 299008, 'Agriculture & Natural Resources': 79981, 'Industrial Arts & Consumer Services': 227357, 'Arts': 357130, 'Health': 463230, 'Social Science': 529966, 'Physical Sciences ': 2116, 'Biology & Life Science': 453862, 'Education': 559129, 'Humanities & Liberal Arts': 713468, 'Psychology & Social Work': 481007, 'Industrial Arts & Consumer Services ': 2435, 'Communications & Journalism': 392601, 'Interdisciplinary': 12296}

#### 4.1 Avec la méthode pivot table uniquement pour le dataframe all_ages

In [46]:
import numpy as np 

# On utilise la méthode .pivot_table() qui permet de passer en index les valeurs uniques de "Major_category"
# En colonnes on définit les valeurs comme étant celle de la colonne "Total" du dataset all_ages
# On regroupe les données en faisant la somme sur la colonne Total pour chaque major_category unique
nbStud_byCat_ages = all_ages.pivot_table(index = "Major_category", values=["Total"], aggfunc=np.sum)

# On transforme le dataframe nbStud_byCat_ages en un dictionnaire 
pivot_aa_cat_counts = nbStud_byCat_ages.to_dict('dict')['Total']
print(pivot_aa_cat_counts)

<class 'pandas.core.frame.DataFrame'>
{'Agriculture & Natural Resources': 632437, 'Arts': 1805865, 'Biology & Life Science': 1338186, 'Business': 9858741, 'Communications & Journalism': 1803822, 'Computers & Mathematics': 1781378, 'Education': 4700118, 'Engineering': 3576013, 'Health': 2950859, 'Humanities & Liberal Arts': 3738335, 'Industrial Arts & Consumer Services': 1018072, 'Industrial Arts & Consumer Services ': 15726, 'Interdisciplinary': 45199, 'Law & Public Policy': 902926, 'Physical Sciences': 1013152, 'Physical Sciences ': 12166, 'Psychology & Social Work': 1987278, 'Social Science': 2654125}

### 5- Calculer la proportion de jeunes diplômés ayant trouvé un job à faible salaire

In [31]:
# On somme la colonne contenant les proportion de job à faible salaire et on divise par la somme de nombre d'étudiants. 
# Pour avoir un pourcentage on multiplie par 100

low_wage_proportion = ((recent_grads["Low_wage_jobs"].sum())/(recent_grads["Total"].sum()))*100
print(f"Le pourcentage de jeune diplômés qui ont dû trouver un job à faible salaire est de: {low_wage_proportion:.4} %.")

Le pourcentage de jeune diplômés qui ont dû trouver un job à faible salaire est de: 9.853 %.

### 6- Comparaison des deux datasets

In [41]:
# On récupère les major unique du dataset recent_grads
unique_majors_aa = recent_grads["Major"].unique()

# On initialise une variable compteur qui comptera le nombre de fois où unemployment_rate
# sera plus petite pour recent_grads que pour all_ages
rg_lower_count = 0 

# On crée une boucle afin de parcourir chaque major unique de recent_grads
for major in unique_majors_aa: 
    
    # On crée un masque pour sélectionner les valeurs de all_ages correspondant au major unique
    masque_major_aa = all_ages["Major"] == major
    
    # On applique ce masque sur le dataset all_ages pour récupérer les valeurs correspondantes
    major_aa = all_ages[masque_major_aa]
    
    # On transforme les valeurs de unemployment_rate en une liste pour faciliter la comparaison
    aa_unemp = major_aa["Unemployment_rate"].to_list()
    
    # On réalise les mêmes étapes pour le dataset recent_grads
    masque_major_rg = recent_grads["Major"] == major
    major_rg = recent_grads[masque_major_rg]
    
    rg_unemp = major_rg["Unemployment_rate"].to_list()
    
    # Si le unemployment_rate est plus petit dans le dataset recent_grads on incrément le compteur
    if rg_unemp < aa_unemp: 
        rg_lower_count += 1
        
print(f"Le taux de non-employabilité est plus petit dans le dataset recent_grads comparé au dataset all_ages pendant {rg_lower_count} fois.")

Le taux de non-employabilité est plus petit dans le dataset recent_grads comparé au dataset all_ages
pendant 42 fois.